---
http_interactions:
- request:
    method: post
    uri: https://a.klaviyo.com/api/v2/list/dummyListId/subscribe
    body:
      encoding: UTF-8
      string: '{"api_key":"secret123","profiles":[{"email":"jdoe@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-Upstream:
      - Sync-Api
      - Sync-Api
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Wed, 22 Jul 2020 13:40:48 GMT
- request:
    method: post
    uri: https://a.klaviyo.com/api/v2/list/wrongListId/subscribe
    body:
      encoding: UTF-8
      string: '{"api_key":"secret123","profiles":[{"email":"jdoe@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html>\n<html>\n<head>\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\" />\n\n<title>Oops (Error 404) - Klaviyo</title>\n<link
        rel=\"shortcut icon\" href=\"/media/Favicon-16by16.png\" />\n<style type=\"text/css\">\n
        \ body {\n    font-family: 'Lucida Grande', sans-serif;\n    line-height:
        18pt;\n  }\n\n  h1 {\n    color: #7895a3;\n    font-size: 32pt;\n    font-weight:
        bold;\n    line-height: 34pt;\n  }\n\n  h2 {\n    font-size: 30px;\n    line-height:
        1.4;\n  }\n\n  h3 {\n    color: #555;\n    font-size: 20px;\n    line-height:
        1.4;\n    font-weight: normal;\n  }\n\n  #main {\n     margin: 4em 10em 3em
        3em;\n  }\n\n  .bear {\n    position[...]
