---
http_interactions:
- request:
    method: post
    uri: https://a.klaviyo.com/api/v2/list/dummyListId/members
    body:
      encoding: UTF-8
      string: '{"api_key":"secret123","profiles":[{"email":"jdoe@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Allow:
        - GET, POST, DELETE, HEAD, OPTIONS
      Content-Type:
        - application/json
      X-Upstream:
        - Sync-Api
        - Sync-Api
      retry-after:
        60
    body:
      encoding: ASCII-8BIT
      string: '{"detail":""}'
  recorded_at: Thu, 24 Dec 2020 22:39:22 GMT
recorded_with: VCR 6.0.0
